{{> layout/header}}

<body>

<div class="container">
    <h1 class="pt-md-5 pb-md-5">Pokedex</h1>

    <div class="card-deck">
        {{#pokemonTypes}}
        <div class="col-md-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{name}}
                        <span class="badge badge-secondary">Id {{id}}</span>
                    </h4>
                </div>
                <img class="card-img-top" src="{{sprites.front_default}}" alt="Pokemon front"/>
                <img class="card-img-top" src="{{sprites.back_default}}" alt="Pokemon back"/>

                <div class="card-body">
                    <span class="badge badge-primary">Speed : {{stats.speed}}</span>
                    <span class="badge badge-primary">Attack : {{stats.attack}}</span>
                    <span class="badge badge-primary">Defense : {{stats.defense}}</span>
                    <span class="badge badge-primary">HP : {{stats.hp}}</span>
                </div>
                {{#types}}
                    <div class="card-body">
                        <h5 class="my-0 font-weight-normal">Types</h5>
                        <span class="badge badge-primary"></span>
                    </div>
                {{/types}}

            </div>
        </div>
        {{/pokemonTypes}}
    </div>

</div>

</body>
</html>